@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.content{
    margin-top: 2rem;
}
.register{
    width: 260px;
    border-style:solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;   
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    background: rgb(255,102,196);
    background: linear-gradient(90deg, rgba(255,102,196,0.5) 0%, rgba(255,222,89,0.5) 100%);
}
.login{
    margin: auto;
    width: 460px;
    height: 225px;
    border-style:solid; 
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background: rgb(255,102,196);
    background: linear-gradient(90deg, rgba(255,102,196,0.5) 0%, rgba(255,222,89,0.5) 100%);
}
.login2{
    margin: auto;
    margin-top: 2rem;
    width: 675px;
    height: fit-content;
    border-style:solid; 
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background: rgb(255,102,196);
    background: linear-gradient(90deg, rgba(255,102,196,0.5) 0%, rgba(255,222,89,0.5) 100%);
}
input{
    width: 225px;
    text-align: center;
    border-radius: 5px;
}
.variola{
    width: 150px;
    background-color: coral;
    cursor: pointer;
    border-radius: 12px;
    
}
.gordo{
    cursor: pointer;
    color: #FF66C4;
}
.gordo:hover{
    cursor: pointer;
    color: purple;
}
.gemas{
    background-color: coral;
    width: 75px;
    height: 25px;
    border-radius: 12px;
    cursor: pointer
}
.gemas:hover{
    background-color: palevioletred;
}
.variola:hover{
    background-color: palevioletred;
}
body{
    background: url("fotos/Graphic\ design\ is\ my\ passion.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
}
h1{
    font-size: 75px;
    height: 100px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
.text{
    border-radius: 200px;
}
.gomus{
    color: #ecf0f1;
    font-size: 17px;
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all .1s;
    cursor: pointer;
}
   
.gomus:active {
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
    top: 2px;
}
.gomus:hover{
    color: #ecf0f1;
    font-size: 17px;
    background-color: palevioletred;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px black;
    transition: all .1s;
}
.g{
    background:url(fotos/doppel\ g.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.gominus{
    font-family: 'Lobster', cursive;
    color: crimson;
    font-style: initial;
}
.gominush{
    font-family: 'Lobster', cursive;
    color: green;
    font-style: initial;
}
.gominusL{
    font-family: 'Lobster', cursive;
    color: purple;
    font-style: initial;
}
.gominusN{
    font-family: 'Lobster', cursive;
    color: cornflowerblue;
    font-style: initial;
}
.gominus2{
    font-family: 'Lobster', cursive;
    color: azure;
    font-style: italic;
}
iframe{
    position: relative;
    top: 0px;
    border: none;
}
.apres{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 1em; color: #fffdd9;
}
.gem{
    font-family: 'Lobster', cursive;
    color: azure;
    font-style: italic;
    font-size: xx-large;
}